.heading {
	font-size: 5rem;
	text-align: center;
	text-transform: uppercase;
}

.button {
	color: #ffffff;
	background-color: #54be90;
	border-radius: 0.5rem;
	box-shadow: $box-shadow;
	font-size: 1.25rem;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	padding: 0.5rem 3rem;
}

.button:hover {
	box-shadow: $box-shadow1;
}