.header {
	height: 80vh;
	color: #ebebeb;
	background-image: url('../img/frond-1869757_1280.png');
	text-align: center;
	margin-top: 20vh;
	padding-top: 10rem;
		&__title {
		font-size: 4rem;
		font-weight: normal;
		margin-bottom: 0;		
	}   &__desc {
		font-size: 3rem;
		font-weight: normal;
		margin-top: 0;
	}	&__link {
		color: #54be90;
		border-bottom: 5px solid #ebebeb;
		font-weight: bold;
		text-decoration: none;
	}	&__link:hover {
		opacity: 0.8;
	}
}