$Green: #54BE90;
$White: #FFFFFF;
$Light-grey: #EBEBEB;
$Text-grey: #444444;
$Dark-grey: #232323;

$box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.5);
$box-shadow1: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
$box-shadow2: 2px 2px 20px 0px rgba(68, 68, 68, 1);